body {
    display: flex;
    margin: 0px;
    justify-content: center;

    /* header */
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
    height: 100vh;
    overflow-x: hidden;
}

/* header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 25px;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    box-sizing: border-box;
}

.app-name {
    font-size: 1.8em;
    font-weight: bold;
    color: #e50914;
}

#power-btn {
    background: none;
    border: 2px solid #fff;
    border-radius: 40%;
    font-size: 1.1em;
    color: #fff;
    cursor: pointer;
    padding: 10px;
    transition: all 0.3s ease;
}

#power-btn:hover{
    background-color: #e50914;
    border-color: #e50914;
    color: #fff;
}


.video-box1 {
    width: 200px;
    height: 300px;
    position: relative;
}

.video-box2 {
    margin-left: 20px;
    width: 200px;
    height: 300px;
    position: relative;
}

.video-box3 {
    margin-left: 20px;
    width: 200px;
    height: 300px;
    position: relative;
}

.video-box4 {
    margin-left: 20px;
    width: 200px;
    height: 300px;
    position: relative;
}

.thumbnail {
    width: 100%;
    height: 100%;
    cursor: pointer;
    position: relative;
}

.thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    margin-top: 100px;
}

.play-button1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    color: white;
    background: rgba(0,0,0,0.5);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}

.play-button2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    color: white;
    background: rgba(0,0,0,0.5);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}

.play-button3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    color: white;
    background: rgba(0,0,0,0.5);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}

.play-button4 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    color: white;
    background: rgba(0,0,0,0.5);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}

.video-box1 iframe{
    width:100%;
    height:100%;
    border:none;
    border-radius:10px;
    margin-top: 200px;
}

.video-box2 iframe{
    width:100%;
    height:100%;
    border:none;
    border-radius:10px;
    margin-top: 100px;
}

.video-box3 iframe{
    width:100%;
    height:100%;
    border:none;
    border-radius:10px;
    margin-top: 100px;
}

.video-box4 iframe{
    width:100%;
    height:100%;
    border:none;
    border-radius:10px;
    margin-top: 100px;
}

.h3 {
    color:#fff;
    margin-top: 250px;
}
